@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden; /* Prevent scrolling on the desktop */
  cursor: url("data:image/svg+xml,%3Csvg width='25' height='30' viewBox='0 0 25 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.86196 23.3323L12.5657 22.0673L15.3087 28.5284C15.544 29.0837 16.1887 29.3444 16.744 29.1091L20.2078 27.6409C20.7631 27.4056 21.0238 26.7609 20.7885 26.2056L18.0069 19.6548L24.0863 19.293C25.3023 19.2217 25.8078 17.6976 24.8778 16.9201L1.8792 0.816646C0.776634 -0.106822 -0.825859 0.875151 -0.536979 2.27471L4.65934 27.2796C4.91262 28.5134 6.5746 28.7909 7.22238 27.7058L8.86196 23.3323Z' fill='black' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E"), auto;
}

#root {
  width: 100%;
  height: 100vh;
}
